PORT=8088
LOG_LEVEL=info
MONGO_USER=reservation_user
MONGO_PASSWORD=YOUR_PASSWORD
MONGODB_URI=mongodb://reservation_user:YOUR_PASSWORD@localhost:27018/reservation_db?authSource=admin
JWT_SECRET=YOUR_SECRET_KEY_HERE
